<h1>List of users</h1>

<form action="/user_add" method="post">

<label for="username">Username</lable>
<input type="text" id="username" name="username" required>

<button type="submit">Add user</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th></th>
  </tr>
<% @users.each do |user|%>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>
  </tr>
<% end %>
</table>
 