<h1>List of photos</h1>

<form>
  <label for="imageurl">Image</label>
  <input type="text" id="imageurl" name="image_url" placeholder="Enter a URL for the image" required>

  <label for="caption">Caption</label>
  <textarea id="caption" name="caption" placeholder="Enter a caption for the image..." required></textarea>

  <label for="ownerid">Owner ID</label>
  <input type="text" id="ownerid" name="owner_id" placeholder="Enter and ID of a User" required>

  <button type=submit">Add Photo</submit>

</form>
